body {
  margin: 0;
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr [aside] 2fr [main] 4fr 1fr;
  grid-template-rows: [headline] 240px [content] auto [aside] 1fr;
  gap: 2vw;
}

img {
  width: 100%;
  grid-column-start: aside;
  grid-row-start: content;
}

header {
  grid-column-start: main;
  grid-row-start: headline;
  align-self: end;
}

main {
  grid-column-start: main;
  grid-row: content / span 2;
}

aside {
  grid-column-start: aside;
  grid-row: aside;
}

p {
  margin: 0;
}
